.git
.github
.cursor
.vscode
.vs
**/.git
**/__pycache__
**/*.pyc
**/*.egg-info
**/.DS_Store
**/node_modules
**/dist
**/*debug.log
hrms/public/dist
hrms/public/node_modules
hrms/public/frontend
hrms/public/roster
hrms/www/hrms.html
hrms/www/roster.html
hrms/docs
frontend/vite.config.js.timestamp-*
*.md
!README.md
.editorconfig
.mergify.yml
TRADEMARK_POLICY.md
