
<div id="hierarchy-empty-root" class="text-muted flex flex-1 items-center justify-center align-center text-center">
  <div class="sp-empty-list">
    <div class="sp-empty-illus" aria-hidden="true">
      <div class="sp-empty-illus__rings"><i></i><i></i><i></i></div>
      <span class="sp-empty-illus__face sp-empty-illus__face--tl">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#e8a598"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#e8a598"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#e8b896"/><path d="M10.2 19c.5-9.2 19.1-9.2 19.6 0-.6-6.8-4.6-11.8-9.8-11.8S10.8 12.2 10.2 19z" fill="#2c1a12"/></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--tr">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#1f3a5f"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#1f3a5f"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#c68642"/><path d="M12 17.8c.2-7.4 15.8-7.4 16 0-.4-5.2-15.6-5.2-16 0z" fill="#1a120c"/></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--l is-fade">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#90ba93"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#90ba93"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#f1c27d"/><path d="M11.4 18.4c.4-8 16.8-8 17.2 0-.6-5.6-16.6-5.6-17.2 0z" fill="#4a2c14"/><circle cx="20" cy="6.4" r="3.1" fill="#4a2c14"/></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--r">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#11a5dd"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#11a5dd"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#ffdbac"/><path d="M12.4 17.2c0-7.2 15.2-7.2 15.2 0C27 12.2 13 12.2 12.4 17.2z" fill="#3b2314"/></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--bl is-fade">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#d9a5b3"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#d9a5b3"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#8d5524"/><path d="M9.6 20c.2-10.4 20.6-10.4 20.8 0-1.2-8-19.6-8-20.8 0z" fill="#1b0f0a"/></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--br">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#a7c8cc"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#a7c8cc"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#e0ac69"/><path d="M12.2 17.6c.3-7 15.3-7 15.6 0-.5-4.8-15.1-4.8-15.6 0z" fill="#2a1b10"/><g fill="none" stroke="#2a2a2a" stroke-width="1.1"><circle cx="16.6" cy="18.2" r="2.3"/><circle cx="23.4" cy="18.2" r="2.3"/><path d="M18.9 18.2h2.2"/></g></svg>
      </span>
      <span class="sp-empty-illus__face sp-empty-illus__face--tc is-fade">
        <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#c4b5a5"/><path d="M6.5 40c2.2-11.5 7.2-15.5 13.5-15.5S31.3 28.5 33.5 40" fill="#c4b5a5"/><ellipse cx="20" cy="17.2" rx="7.1" ry="8" fill="#f3d1b3"/><path d="M11.8 18c.5-8.2 15.9-8.2 16.4 0-.6-6-15.8-6-16.4 0z" fill="#5c4033"/></svg>
      </span>
      <div class="sp-empty-illus__stack">
        <div class="sp-empty-illus__card"><i></i><span><b></b><b></b></span></div>
        <div class="sp-empty-illus__card is-accent"><i></i><span><b></b><b></b></span></div>
        <div class="sp-empty-illus__card"><i></i><span><b></b><b></b></span></div>
      </div>
    </div>
    <h2 class="sp-empty-list__title">{{ __("Nothing here yet") }}</h2>
    <p class="sp-empty-list__text">
      {{ __("You haven't created a {0} for {1} yet.", [__(doctype), __(company)]) }}
    </p>
    {% if can_create %}
      <button
        type="button"
        class="sp-empty-list__btn btn-new-doc"
        id="add-doc-btn"
      >
        {{ __("Create a new {0}", [__(doctype)]) }}
      </button>
    {% endif %}
  </div>
</div>
